<div>
  <div>
    <app-empresa-component [empresa]="datosEmpresa"></app-empresa-component>
  </div>
  <div>
    <table class="table">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-info">ID</th>
          <th scope="col" class="text-info">Sucursal</th>
          <th scope="col" class="text-info">ID Producto</th>
          <th scope="col" class="text-info">Nombre Producto</th>
          <th scope="col" class="text-info">Descripcion Producto</th>
          <th scope="col" class="text-info">Categoria Producto</th>
          <th scope="col" class="text-info">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        @for (item of stockSucursales; track $index) {
        <tr app-item-inventario-component [item]="item"></tr>
        }
      </tbody>
    </table>
  </div>
</div>
